In [5]:
import pandas as pd

df = pd.read_excel('./data/downloaded_data/matches.xlsx')
df['Date'] = pd.to_datetime(df['Date'], format="%Y/%m/%d")

In [28]:
astv = df.loc[df['home_team']=='Aston Villa']
astv = astv[['Date', 'home_team', 'home_elo', 'home_elo_change']]
dff = astv.sort_values(by='Date')
dff['sum_elo'] = dff['home_elo_change'].rolling(3, min_periods=1).sum()
dff['sum_elo'] = dff['sum_elo'].shift(1)
dff = dff.sort_values(by='Date', ascending=False)
dff

            Date    home_team  home_elo  home_elo_change  sum_elo
29902 2023-05-28  Aston Villa      2056                8     30.0
29939 2023-05-13  Aston Villa      2041                8     27.0
30071 2023-04-25  Aston Villa      2051                5     30.0
30190 2023-04-15  Aston Villa      2033               17     20.0
30296 2023-04-08  Aston Villa      2028                5      5.0
...          ...          ...       ...              ...      ...
2204  2018-09-22  Aston Villa      1798              -14     -6.0
2256  2018-09-18  Aston Villa      1793                5     -6.0
2460  2018-08-25  Aston Villa      1825               -7      1.0
2500  2018-08-22  Aston Villa      1829               -4      5.0
2644  2018-08-11  Aston Villa      1825                5      NaN

[109 rows x 5 columns]

In [15]:
import pandas as pd

dff = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'date': ['2023-05-10', '2023-05-09', '2023-05-08', '2023-05-07', '2023-05-06'],
    'elo': [5, 7, -3, 1, -2]
})


dff['date'] = pd.to_datetime(dff['date'])
dff = dff.sort_values(by='date')


dff['sum_elo'] = dff['elo'].rolling(3, min_periods=1).sum()

print(dff)

   id       date  elo  sum_elo
4   5 2023-05-06   -2     -2.0
3   4 2023-05-07    1     -1.0
2   3 2023-05-08   -3     -4.0
1   2 2023-05-09    7      5.0
0   1 2023-05-10    5      9.0