In [53]:
import pandas as pd


df = pd.read_excel('./data/downloaded_data/matches.xlsx')
df['Date'] = pd.to_datetime(df['Date'], format="%Y/%m/%d")

dff = df[['Date', 'home_team', 'home_elo', 'home_elo_change', 'Result']]
dff = dff.sort_values(by=['home_team', 'Date'])

dff['sum_elo'] = dff.groupby('home_team')['home_elo_change'].rolling(3, min_periods=1).sum().reset_index(level=0, drop=True)

dff['form'] = dff.groupby('home_team')['sum_elo'].shift(1)

dff.sort_values(by='Date', ascending=False, inplace=True)

dff.head(20)

,Date,home_team,home_elo,home_elo_change,Result,sum_elo,form
35698,2023-06-11,SSC Bari,1770,-12,0 - 1,-15.0,-9.0
33462,2023-06-11,SpVgg Unterhaching,1401,11,2 - 0,-15.0,-20.0
32626,2023-06-11,CD Alavés,1839,-1,0 - 0,13.0,12.0
35697,2023-06-11,Spezia Calcio,1774,-18,1 - 3,-10.0,-8.0
35699,2023-06-10,Manchester City,2392,9,1 - 0,22.0,14.0
29896,2023-06-10,Manchester City,2392,9,1 - 0,14.0,18.0
35700,2023-06-08,Cagliari Calcio,1797,-4,1 - 1,7.0,15.0
32627,2023-06-08,CD Alavés,1829,10,2 - 0,12.0,6.0
29897,2023-06-07,ACF Fiorentina,2022,-10,1 - 2,-5.0,14.0
33463,2023-06-07,Energie Cottbus,1430,-14,1 - 2,-16.0,5.0
35701,2023-06-07,ACF Fiorentina,2022,-10,1 - 2,-11.0,-5.0
32628,2023-06-07,Levante UD,1882,7,3 - 0,4.0,7.0
33464,2023-06-06,Arminia Bielefeld,1666,-14,1 - 2,-18.0,-26.0
33465,2023-06-05,Hamburger SV,1821,-16,1 - 3,-16.0,6.0
35704,2023-06-04,Atalanta,2010,9,5 - 2,-3.0,-10.0
32638,2023-06-04,Elche CF,1846,-1,1 - 1,19.0,40.0
35702,2023-06-04,Udinese Calcio,1896,-8,0 - 1,-13.0,0.0
32635,2023-06-04,RCD Mallorca,1920,12,3 - 0,26.0,14.0
32633,2023-06-04,Real Betis,2042,-5,1 - 1,-15.0,-13.0
32634,2023-06-04,CA Osasuna,1956,7,2 - 1,28.0,5.0

In [32]:
astv = df.loc[df['home_team']=='Aston Villa']
astv = astv[['Date', 'home_team', 'home_elo', 'home_elo_change', 'Result']]
dff = astv.sort_values(by='Date')
dff['sum_elo'] = dff['home_elo_change'].rolling(5, min_periods=1).sum()
dff['sum_elo'] = dff['sum_elo'].shift(1)
dff = dff.sort_values(by='Date', ascending=False)
dff.head(50)

            Date    home_team  home_elo  home_elo_change Result  sum_elo
29902 2023-05-28  Aston Villa      2056                8  2 - 1     43.0
29939 2023-05-13  Aston Villa      2041                8  2 - 1     42.0
30071 2023-04-25  Aston Villa      2051                5  1 - 0     27.0
30190 2023-04-15  Aston Villa      2033               17  3 - 0    -10.0
30296 2023-04-08  Aston Villa      2028                5  2 - 0     -9.0
30450 2023-03-18  Aston Villa      1985                8  3 - 0    -37.0
30610 2023-03-04  Aston Villa      1975                7  1 - 0    -49.0
30766 2023-02-18  Aston Villa      1969              -10  2 - 4    -45.0
30935 2023-02-04  Aston Villa      1991              -20  2 - 4     -7.0
31144 2023-01-13  Aston Villa      1974                6  2 - 1      2.0
31158 2023-01-08  Aston Villa      1994              -20  1 - 2     13.0
31206 2023-01-04  Aston Villa      1999               -5  1 - 1     24.0
31311 2022-12-26  Aston Villa      1981               -6  1 - 3     36.0
31612 2022-11-06  Aston Villa      1952               18  3 - 1      6.0
31781 2022-10-23  Aston Villa      1946               15  4 - 0     -3.0
31856 2022-10-16  Aston Villa      1972               -9  0 - 2      1.0
32128 2022-09-16  Aston Villa      1965                6  1 - 0     -8.0
32188 2022-09-03  Aston Villa      1959                6  1 - 1    -17.0
32268 2022-08-28  Aston Villa      1974              -12  0 - 1      1.0
32453 2022-08-13  Aston Villa      1974                6  2 - 1    -24.0
21729 2022-05-19  Aston Villa      1996               -5  1 - 1    -28.0
21738 2022-05-15  Aston Villa      1999               -3  1 - 1     -9.0
21765 2022-05-10  Aston Villa      2002               -3  1 - 2    -22.0
21844 2022-04-30  Aston Villa      1979                6  2 - 0    -32.0
22087 2022-04-09  Aston Villa      1993              -19  0 - 4    -11.0
22269 2022-03-19  Aston Villa      2009               -9  0 - 1    -11.0
22442 2022-03-05  Aston Villa      1980               16  4 - 0    -18.0
22626 2022-02-19  Aston Villa      1976              -16  0 - 1     -6.0
22732 2022-02-09  Aston Villa      1990               -4  3 - 3      9.0
22992 2022-01-15  Aston Villa      1976                2  2 - 2     -9.0
23172 2021-12-26  Aston Villa      1998               -9  1 - 3    -14.0
23310 2021-12-05  Aston Villa      1976                9  2 - 1     -7.0
23358 2021-12-01  Aston Villa      1980               -4  1 - 2     -7.0
23476 2021-11-20  Aston Villa      1956               11  2 - 0     -9.0
23640 2021-10-31  Aston Villa      1979              -16  1 - 4     21.0
23820 2021-10-16  Aston Villa      1999              -14  2 - 3     34.0
24066 2021-09-18  Aston Villa      1966               16  3 - 0      9.0
24246 2021-08-28  Aston Villa      1974               -4  1 - 1      8.0
24328 2021-08-21  Aston Villa      1964                9  2 - 0     -4.0
13910 2021-05-23  Aston Villa      1960               14  2 - 1    -10.0
13971 2021-05-13  Aston Villa      1953               -1  0 - 0    -23.0
13980 2021-05-09  Aston Villa      1962               -9  1 - 3    -16.0
14124 2021-04-25  Aston Villa      1952               -5  2 - 2    -20.0
14175 2021-04-21  Aston Villa      1955               -3  1 - 2     -6.0
14399 2021-04-04  Aston Villa      1950                8  3 - 1    -33.0
14493 2021-03-21  Aston Villa      1964              -14  0 - 2    -11.0
14675 2021-03-06  Aston Villa      1965               -2  0 - 0    -20.0
14867 2021-02-21  Aston Villa      1973               -9  1 - 2      0.0
15023 2021-02-06  Aston Villa      1961               11  1 - 0    -14.0
15064 2021-02-03  Aston Villa      1980              -19  1 - 3    -10.0

In [15]:
import pandas as pd

dff = pd.DataFrame({
    'id': [1, 2, 1, 2, 1, 2, 1, 2, 1, 2],
    'date': ['2023-05-11','2023-05-10', '2023-05-09','2023-05-09', '2023-05-08','2023-05-07', 
             '2023-05-03','2023-05-02', '2023-05-01', '2023-05-01'],
    'elo': [5, 7, -3, 1, -2, 5, 7, -3, 1, -2]
})


dff['date'] = pd.to_datetime(dff['date'])
dff = dff.sort_values(by='date')


dff['sum_elo'] = dff['elo'].rolling(3, min_periods=1).sum()
dff['sum_elo'] = dff['sum_elo'].shift(1)

print(dff)

   id       date  elo  sum_elo
4   5 2023-05-06   -2     -2.0
3   4 2023-05-07    1     -1.0
2   3 2023-05-08   -3     -4.0
1   2 2023-05-09    7      5.0
0   1 2023-05-10    5      9.0

In [44]:
import pandas as pd

dff = pd.DataFrame({
    'id': ['ast', 'bas', 'ast', 'bas', 'ast', 'bas', 'ast', 'bas', 'ast', 'bas'],
    'date': ['2023-05-11','2023-05-10', '2023-05-09','2023-05-09', '2023-05-08','2023-05-07', 
             '2023-05-03','2023-05-02', '2023-05-01', '2023-05-01'],
    'elo': [5, 7, -3, 1, -2, 5, 7, -3, 1, -2]
})

dff['date'] = pd.to_datetime(dff['date'])
dff = dff.sort_values(by=['id', 'date'])

dff['sum_elo'] = dff.groupby('id')['elo'].rolling(3, min_periods=1).sum().reset_index(level=0, drop=True)

dff['sum_elo'] = dff.groupby('id')['sum_elo'].shift(1)

dff.sort_values(by=['id', 'date'], ascending=False, inplace=True)

print(dff)

    id       date  elo  sum_elo
1  bas 2023-05-10    7      3.0
3  bas 2023-05-09    1      0.0
5  bas 2023-05-07    5     -5.0
7  bas 2023-05-02   -3     -2.0
9  bas 2023-05-01   -2      NaN
0  ast 2023-05-11    5      2.0
2  ast 2023-05-09   -3      6.0
4  ast 2023-05-08   -2      8.0
6  ast 2023-05-03    7      1.0
8  ast 2023-05-01    1      NaN