In [7]:
import pandas as pd


df = pd.read_excel('./data/downloaded_data/matches.xlsx')
df['Date'] = pd.to_datetime(df['Date'], format="%Y/%m/%d")

dff = df[['Date', 'home_team', 'home_elo', 'home_elo_change', 'Result']]
dff = dff.sort_values(by=['home_team', 'Date'])

dff['sum_elo'] = dff.groupby('home_team')['home_elo_change'].rolling(5, min_periods=1).sum().reset_index(level=0, drop=True)

dff['form'] = dff.groupby('home_team')['sum_elo'].shift(1)

dff.sort_values(by='Date', ascending=False, inplace=True)

tt = dff.loc[dff['home_team']=='Aston Villa']

In [9]:
tt

            Date    home_team  home_elo  home_elo_change Result  sum_elo  form
29902 2023-05-28  Aston Villa      2056                8  2 - 1     43.0  43.0
29939 2023-05-13  Aston Villa      2041                8  2 - 1     43.0  42.0
30071 2023-04-25  Aston Villa      2051                5  1 - 0     42.0  27.0
30190 2023-04-15  Aston Villa      2033               17  3 - 0     27.0 -10.0
30296 2023-04-08  Aston Villa      2028                5  2 - 0    -10.0  -9.0
...          ...          ...       ...              ...    ...      ...   ...
2204  2018-09-22  Aston Villa      1798              -14  1 - 2    -15.0  -1.0
2256  2018-09-18  Aston Villa      1793                5  2 - 0     -1.0  -6.0
2460  2018-08-25  Aston Villa      1825               -7  1 - 1     -6.0   1.0
2500  2018-08-22  Aston Villa      1829               -4  2 - 2      1.0   5.0
2644  2018-08-11  Aston Villa      1825                5  3 - 2      5.0   NaN

[109 rows x 7 columns]